{% extends 'base.html' %}

{% block content %}
    <div class="about-page">
        <h2>კეთილი იყოს თქვენი მობრძანება!</h2>
        <p>მოხარული ვართ, რომ გეწვიეთ ჩვენს ონლაინ მაღაზიას, სადაც ხარისხი ხვდება სტილს, ხოლო მრავალფეროვნება – ხელმისაწვდომობას. ჩვენ შევქმენით ეს სივრცე სიყვარულით და თქვენზე ზრუნვით, რათა შემოგთავაზოთ საუკეთესო პროდუქცია, რომელიც თქვენს ყოველდღიურ ცხოვრებას უფრო კომფორტულს და სასიამოვნოს გახდის.</p>
        <p>ჩვენი გუნდის მთავარი მიზანია, შევქმნათ თქვენთვის განსაკუთრებული სავაჭრო გამოცდილება. ვცდილობთ, შემოგთავაზოთ მხოლოდ ის პროდუქტები, რომლებიც გამოირჩევიან მაღალი ხარისხითა და უნიკალური დიზაინით. აქ იპოვით ყველაფერს, რაც გჭირდებათ, იქნება ეს თანამედროვე მოდური სამოსი.</p>
        <p>გვჯერა, რომ თითოეული ჩვენი მომხმარებელი განსაკუთრებულია, ამიტომაც ჩვენი გუნდი ყოველთვის მზადაა, გაგიწიოთ დახმარება და გაგცეთ პასუხი ნებისმიერ კითხვაზე. გმადლობთ, რომ ხართ ჩვენი ნაწილი და გვენდობით. </p>
          <p><b>ჩვენი საწყობი მდებარეობს მისამართზე:</b><br>
           თბილისი, კოსტავას ქ. N 74, სპორტის სასახლის მიმდებარედ</p>
          <p><b>სამუშაო საათები:</b><br>
           ორშაბათი-პარასკევი: 09:00 - 19:00</p>
           <p>გისურვებთ სასიამოვნო შოპინგს!</p>
    </div>
{% endblock %}